body{
    padding: o;
    margin: 0;
    border: 0;
    background-color: #1b1f27;
    overflow: hidden;
}

.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
    
}

.login{
    background-color: #252a34;
    width: 100%;
    max-width: 400px;
    height: 300px;
    padding: 2%;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
}

.login form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login input{
    margin-top: 15px;
    background-color:#1a3b3b;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 15px;
    padding: 10px;
}

.img-0{
    height: 60px;
    width: 100px;
    align-items: center;
}

input::placeholder{
    color: aliceblue;
    font-size: 15px;
}  

form [type="submit"]{
    display: block;
    background-color:#669191;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;   
}

p{
    color: aliceblue;
}

a{
    text-decoration: none;
    color:#669191;
    left: 10px;
}

footer .a{
    text-align: center;
}


