@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    background-color: #d3e3e3;

  
}

header{
   background-color: #669191;
    margin-top: 0px;
    display: flex;
    height: 50px;
    width: 100%;
    position: fixed;
    
}

.logo{
    color:white;
    font-size: 30px;
    width: 100%;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    margin-left: 0%;
    padding: 5px;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo a:hover{
    text-decoration: underline;
}



.menu{
    position:absolute;
    right: 0;
    top:50px;
    width: 10%;
    height: 200px; 
    overflow: hidden;         
  
    text-align: center;
}

.hide{
    transition: 1s;
    opacity: 0;
}

.show{
    transition: 3s;
    opacity: 1;
}
.menu a{
    display:inline-block;
    padding: 10px 0;
    text-decoration: none;
    color:#1a3b3b;
    font-size: 25px;
    
}

.menu a:hover{
    text-decoration: underline;
}

.icon-menu{
width: 50%;
flex-direction: flex-end;
justify-content: flex-end;
text-align: right;

}

.i{
    font-size: 30px;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;

}

#container{
    position: absolute;
    margin: 5% 5%;
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin-left: 50%;
    transform: translateX(-50%);

}

h2{
    text-align: center;   
}

h4{
    border-bottom: 15px;
   
}

.grid{  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}



button{
    width: 30%;
    height: 130px;
   
    margin: 12px 2px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
    text-decoration: dashed;
    cursor: pointer;
}

.img-0{
    width: 100px;
    height: 50px;
}

.img-1{
    height: 70px;
    width: 50%;

}

.img-2{
    height: 70px;
    width: 50%;

}

.img-3{
    height: 70px;
    width: 50%;

}

.img-4{
    height: 70px;
    width: 50%;

}

.img-5{
    height: 70px;
    width: 50%;

}

.img-6{
    height: 70px;
    width: 50%;

}

.img-7{
    height: 70px;
    width: 50%;

}

.img-8{
    height: 70px;
    width: 50%;

}

.img-9{
    height: 70px;
    width: 50%;

}